@model Garage2.Models.GarageData

@{
    ViewData["Title"] = "Overview";
}

<h2>Overview</h2>

<p>
    <a asp-action="Create">Check In</a>
</p>

@Html.Partial("_GarageSizePartial", Model.Garage)

@Html.Partial("_VehicleListPartial", Model.Vehicles)

@Html.Partial("_GarageStatisticsPartial", Model.Garage)